*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html, body{
   height: 100%;
   width: 100%;
   
     background-color: #0f0f0f;
  
    font-family: "Inter", sans-serif;
     color: aliceblue;
}
.weblogo{
    padding: 3vw;
    width: 100%;
    height: 55vh;
    /* border: 2px solid rgb(255, 255, 255); */
    background-image: url(https://yearn.fi/landing/hero-background-mobile.png);
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    gap: 3vh;
}
.menubtn{
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background-color:  rgb(80, 79, 79);
    /* opacity: .5; */
    border: none;

    
} 

.navbar{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid rgb(255, 255, 255); */
    width: 100%;
    
}
.logoImg{
   
    z-index: 0;
    /* border: 2px solid rgb(255, 255, 255); */
    width: 40%;
    height: auto;
}
.logoImg img{
    width: 100%;
}
.heading{
    color: aliceblue;
    text-align: center;
    line-height: 3em;
}
.heading p{
    font-size: 1.2em;
}
.explorBtn{
    width: 30%;
    height: auto;
    /* border: 2px solid rgb(255, 255, 255); */
    justify-items: center;
    border-radius: 25px;
    overflow: hidden;
}
.explorBtn button{
    background-color: rgb(10, 88, 255);
    color: aliceblue;
    
    border: none;
    padding: 1%;
    width: 100%;
    height: 9vw;
}

.vaultsApp{
    /* background-color: black; */
    text-align: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.divhead p{
    color: rgb(171, 171, 171);   
}

.vaultCard{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    
}
.vCard{
    width: 90%;
    height: 5vh;
    height: auto;
    /* border: 2px solid rgb(255, 255, 255); */
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    align-items: center;
    padding: 2vw;
    position: relative;
    background: linear-gradient(to right, rgb(0, 0, 0),rgb(29, 29, 29),rgb(51, 51, 51));
}
.vCard-img img{
    width: 100%;
    height: 3vh;
    
}
.vCard div{
    margin-left: 3%;
}
.v-arrow{
    position: absolute;
    right: 2vw;
}
.bg-color1{
    background: linear-gradient(to right, rgb(29, 29, 29),rgb(52, 52, 52),rgb(82, 82, 82));
}
.securityFirst{
    background-color: rgb(28, 28, 28);
    /* text-align: center; */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.divhead{
    text-align: center;
}
.securitymain{
    /* border: 2px solid rgb(255, 255, 255); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 60%;

}
.audits{
     background-color: rgb(124, 66, 248);
     border-radius: 15px;
     height: 40%;
     padding: 6vw;
     height: 47%;
}
.bug{
     background-color: rgb(63, 114, 255);
     border-radius: 15px;
     height: 40%;
     padding: 6vw;
     height: 47%;
}

.yearnX{
    height: 53vh;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.yearnXdivs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
.innerDivs{
    width: 45%;
    height: 8vh;
    background-color: rgb(44, 44, 44);
    border-radius: 10px;
    margin-top: 2%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerDivs img{
    /* border: 2px solid wheat; */
    width: 30%;
    height: 80%;
}
.integ{
    height: 70vh;
    background-color: rgb(25, 23, 23);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.integdivs{
    width: 90%;
    height: 50vh;
    border-radius: 15px;
}
.dinsinner{
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5%;

}
.incolor{
    background-color: rgb(47, 47, 47);
}
.div1{
    width: 10%;
}
.div1 img{
    margin-left: 20%;
    width: 100%;
}







.faq-container {
  width: 100%;
  text-align: left;
  /* border: 2px solid white; */
}

h2 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}

.subtitle {
  text-align: center;
  font-size: 12px;
  color: #a0a0a0;
  margin-bottom: 20px;
}

.faq {
  margin-bottom: 8px;
}

.faq-question {
  background: #1c1c1c;
  border: none;
  color: #fff;
  width: 90%;
  justify-self: center;
  text-align: left;
  padding: 10px 12px;
  border-radius: 6px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s;
}

.faq-question:hover {
  background: #2a2a2a;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  background: #1c1c1c;
  border-radius: 6px;
  margin-top: 2px;
  padding: 0 12px;
  font-size: 12px;
  color: #bcbcbc;
  transition: max-height 0.3s ease;
}

.links {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 25px;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.links a:hover {
  text-decoration: underline;
}

.socials {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #1c1c1c;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: background 0.2s;
}

.icon:hover {
  background: #333;
}





